/* FOOTER */

.arkk-footer {
    margin-top: 80px;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

/* FOOTER ITEMS */

.arkk-footer-items {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

/* TEXT */

.arkk-footer-items p {
    font-size: 14px;
    color: #B0B0C3;
    transition: 0.3s;
    cursor: pointer;
}

/* ICON */

.arkk-footer-items i {
    margin-right: 6px;
    color: var(--luxury-violet);
}

/* HOVER EFFECT */

.arkk-footer-items p:hover {
    color: var(--luxury-violet);
    transform: translateY(-2px);
}

/* COPYRIGHT */

.arkk-footer-copy {
    font-size: 12px;
    color: #777;
}

/* RESPONSIVE */

@media(max-width:768px) {
    .arkk-footer-items {
        flex-direction: column;
        gap: 10px;
    }
}